.todoInput {
    border-radius: 10px;
}

.textarea {
    background-color: transparent !important;
    border: none;
    outline: none;
    resize: none;
    
}

.divider {
    margin-bottom: 16px;
}

.buttonGroup {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-end;
}
